.content-base{
    h1.titre-section{
        height: 50px;
        background: yellow;
        color: #000;
        font-family: $Mont;
        text-align: left;
        font-weight: 900;
        font-size: 64px;
        margin-bottom: 60px;
    }

    h2.sous-titre{
        font-size: 18px;
        color: yellow;
        font-family: $Mont;
        text-align: center;
        background: #000;
        display: block;
        width: 320px;
        padding: 5px 0px;
    }

    .texte-courant{
        font-family: $Play;
        font-size: 16px;
        margin: 15px 0px;
        a{
            font-weight: 700;
            text-decoration: underline;
            color: #000;
        }
    }
    img{
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
        -moz-filter: grayscale(1);
        -o-filter: grayscale(1);
        -ms-filter: grayscale(1);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        &:hover{
            filter: grayscale(0);
            -webkit-filter: grayscale(0);
            -moz-filter: grayscale(0);
            -o-filter: grayscale(0);
            -ms-filter: grayscale(0);
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
    }
}

// ======================================================= SECTION PROJETS

div.section-projets{
    background: url('../images/plait-il/plait-il-background-section-projets.jpg') center no-repeat;
    background-size: cover;
    margin-top: -100px;
    padding-top: 150px;
    padding-bottom: 75px;
        article.projets-thumbnails{
            margin-bottom: 30px;
            position: relative;
            z-index: 10000;
            div.hover-thumbnails{
                left: 0;
                bottom: 0;
                right: 0;
                top: 0;
                margin: auto;
                position: absolute;
                width: 90%;
                z-index: 10000;
                padding-top: 30%;
                background : rgba(0,0,0,0);
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;

                h3{
                    font-family: $Mont;
                    color: yellow;
                    text-align: center;
                    font-weight: 900;
                    font-size: 24px;
                    opacity: 0;
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }
            }
            &:hover{
                div.hover-thumbnails{
                    background : rgba(0,0,0, 1);
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    h3{
                        opacity: 1;
                        -webkit-transition: all 0.3s ease-in-out;
                        -moz-transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                    }
                    a.voir-plus{
                        opacity: 1;
                        -webkit-transition: all 0.3s ease-in-out;
                        -moz-transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }

        }
}


//===================================================== CONTACT

div.section-contact{
    background: #fff;
    padding-top: 75px;
    z-index: 99999;
    form.wpcf7-form p{
        font-family: $Mont;
        font-size: 28px;
        font-weight: 900;
        span input{
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            &:hover{
                background: #f4f4f4;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
        }
        span textarea{
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            &:hover{
                background: #f4f4f4;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
        }
        input[type=submit] {
              display: block;
              text-align: center;
              border: 2px solid #000;
              margin: 0 auto;
              font-weight: 500;
              font-size: 18px;
              font-family: $Mont;
              width: 200;
              padding: 10px;
              color: #000;
              -webkit-transform: translateZ(0);
              transform: translateZ(0);
              box-shadow: 0 0 1px rgba(0, 0, 0, 0);
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
              -moz-osx-font-smoothing: grayscale;
              background: yellow;
              -webkit-transition-property: color;
              transition-property: color;
              -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
            }
            input[type=submit]:before {
              content: "";
              position: absolute;
              z-index: -1;
              color: #000;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              background: #000;
              -webkit-transform: scaleY(0);
              transform: scaleY(0);
              -webkit-transform-origin: 50%;
              transform-origin: 50%;
              -webkit-transition-property: transform;
              transition-property: transform;
              -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
              -webkit-transition-timing-function: ease-out;
              transition-timing-function: ease-out;
            }
            input[type=submit]:hover, input[type=submit]:focus, input[type=submit]:active {
              color: #000;
              background: #000;
            }
            input[type=submit]:hover:before, input[type=submit]:focus:before, input[type=submit]:active:before {
              -webkit-transform: scaleY(1);
              transform: scaleY(1);
            }
            a{
                &.hvr-shutter-out-vertical-black input{
                  display: block;
                  z-index: 9999;
                  border: 2px solid #000;
                  margin-top: 30px;
                  font-weight: 500;
                  font-family: $Mont;
                  padding: 0px 20px;
                  color: #000;
                  width: 200px;
                  line-height: 40px;
                  -webkit-transform: translateZ(0);
                  transform: translateZ(0);
                  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                  -webkit-backface-visibility: hidden;
                  backface-visibility: hidden;
                  -moz-osx-font-smoothing: grayscale;
                  background: yellow;
                  -webkit-transition-property: color;
                  transition-property: color;
                  -webkit-transition-duration: 0.3s;
                  transition-duration: 0.3s;
                }
                &.hvr-shutter-out-vertical-black input:before {
                  content: "";
                  position: absolute;
                  z-index: -1;
                  color: yellow;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  background: #000;
                  -webkit-transform: scaleY(0);
                  transform: scaleY(0);
                  -webkit-transform-origin: 50%;
                  transform-origin: 50%;
                  -webkit-transition-property: transform;
                  transition-property: transform;
                  -webkit-transition-duration: 0.3s;
                  transition-duration: 0.3s;
                  -webkit-transition-timing-function: ease-out;
                  transition-timing-function: ease-out;
                }
                &.hvr-shutter-out-vertical-black input:hover, &.hvr-shutter-out-vertical-black input:focus, &.hvr-shutter-out-vertical-black input:active {
                  color: yellow;
                }
                &.hvr-shutter-out-vertical-black input:hover:before, &.hvr-shutter-out-vertical-black input:focus:before, &.hvr-shutter-out-vertical-black input:active:before {
                  -webkit-transform: scaleY(1);
                  transform: scaleY(1);
              }
          }
    }
}

// =============================================== HOVER PROJETS BUTTON

a{
    &.hvr-shutter-out-vertical {
      display: block;
      text-align: center;
      border: 1px solid yellow;
      margin: 0 auto;
      font-weight: 500;
      font-family: $Mont;
      width: 80%;
      padding: 10px;
      opacity: 0;
      color: yellow;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      background: none;
      -webkit-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
    }
    &.hvr-shutter-out-vertical:before {
      content: "";
      position: absolute;
      z-index: -1;
      color: #000;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: yellow;
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: 50%;
      transform-origin: 50%;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    &.hvr-shutter-out-vertical:hover, &.hvr-shutter-out-vertical:focus, &.hvr-shutter-out-vertical:active {
      color: #000;
    }
    &.hvr-shutter-out-vertical:hover:before, &.hvr-shutter-out-vertical:focus:before, &.hvr-shutter-out-vertical:active:before {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }

}
